<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電話番号変更</title>
    <link rel="stylesheet" href="../../css/Phonechange.css">
    <link rel="stylesheet" href="../../css/home_link.css">
</head>
<body>
    <div class="container">
        <h2>電話番号変更</h2>
        <form action="#" method="post">
            {% csrf_token %}
            病院名：{{ tabyouinid }}<br><br>
            
            現在の電話番号:{{ tabyouintel }}<br><br>

            <label for="newPhoneNumber">新しい電話番号:</label>
            <input type="text" id="newPhoneNumber" name="newPhoneNumber" required>
            <form method="post" action="{% url 'phone_change' %}">
                <button>変更</button>
                <input type="hidden" name ="tabyouinid" value="{{ tabyouinid }}">
                <input type="hidden" name="tabyouintel" value="{{ tabyouintel }}">
            </form>
        </form>
        <a href="{% url 'hospital_table' %}" class="home-link">病院一覧に戻る</a>
    </div>
</body>
</html>
