<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>変更確認</title>
</head>
<body>
    <div class="container">
        <h1>患者名: {{ patfname }} {{ patlname }}</h1>


        <h2>新しく処置される薬剤</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>薬剤名</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
                {% for treatment in treatments %}
                <tr>
                    <td>{{ treatment.medicinename }}</td>
                    <td>{{ treatment.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="post" action="{% url 'medicine_touyo_confirm' %}">
            {% csrf_token %}
            <button>確定</button>
        </form>

        <a href="{% url 'patient_table' %}">患者一覧へ戻る</a>
    </div>
</body>
</html>