<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>薬剤投与確定</title>
</head>
<body>
    <div class="container">
        <h1>患者名: {{ patfname }} {{ patlname }}</h1>
    
        
        <h2>確定しました</h2>
        <h3>処置履歴</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>薬剤名</th>
                    <th>数量</th>
                    <th>投与日</th>
                </tr>
            </thead>
            <tbody>
                {% for treatment in updated_treatments %}
                <tr>
                    <td>{{treatment.medicinename }}</td>
                    <td>{{ treatment.quantity }}</td>
                    <td>{{ treatment.impdate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a href="{% url 'patient_table' %}">患者一覧へ戻る</a>
    </div>
</body>
</html>