<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>患者情報確認</title>
<link rel="stylesheet" href="../css/register.css">
</head>
<body>
<div class="container">
  <h2>患者情報確認</h2>
    <div class="confirmation">
        <div class="confirmation-info">
          <p><strong>患者ID:</strong> {{ pid }}</p>
            <p><strong>姓:</strong> {{ surname }}</p>
          <p><strong>名:</strong> {{ first_name }}</p>
          <p><strong>保険証名記号番号:</strong> {{ insurance_card_number }}</p>
          <p><strong>有効期限:</strong> {{ date_expiry }}</p>
        </div>
        <div class="confirmation-buttons">
            <form method="post" action="{% url 'confilm_register' %}">
                {% csrf_token %}
                <input type="hidden" name="patid" value="{{ pid }}">
                <input type="hidden" name="patfname" value="{{ surname }}">
                <input type="hidden" name="patlname" value="{{ first_name }}">
                <input type="hidden" name="hokenmei" value="{{ insurance_card_number }}">
                <input type="hidden" name="hokenexp" value="{{ date_expiry }}">
                <button>登録</button>
            </form>
            <form method="get" action="{% url 'patient_register' %}">
                <button>修正</button>
            </form>
        </div>
    </div>

</div>


</body>
</html>
