<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>患者一覧</title>
</head>
<body>
    <div class="container">
        <h1>患者一覧</h1>
    <div class="search-container">
            <form method="get" action="{% url 'patient_search' %}">
                <label for="patient_search">患者検索:</label>
                <input type="text" id="patient_search" name="patient" placeholder="患者ID/患者名(部分一致可)">
                <button>検索</button>
            </form>
        </div>
    <div class="search-container">
            <form method="get" action="{% url 'check_insurance_expiry' %}">
                <label for="patient_search">有効期限切れ検索:</label>
                <button>検索</button><br>
                <button name="all" value="all">全件表示</button>
            </form>
        </div>

            <table border="1">
            <thead>
                <tr>
                    <th>患者ID</th>
                    <th>姓</th>
                    <th>名</th>
                    {% if request.session.emprole == 2 %}
                        <th>保険証名記号番号</th>
                        <th>有効期限</th>
                    {% endif %}
                    {% if request.session.emprole == 1 %}
                        <th>薬剤情報</th>
                    {% endif %}
                </tr>


            </thead>
            <tbody id="patient_list">
                {% for patient in patients %}
                <tr>
                    <td>{{ patient.patid }}</td>
                    <td>{{ patient.patfname }}</td>
                    <td>{{ patient.patlname }}</td>
                    {% if request.session.emprole == 2 %}
                    <td>{{ patient.hokenmei }}
                        <form method="get" action="{% url 'insurance_change' %}">
                            {% csrf_token %}
                            <button class="change-button">変更</button>
                            <input type="hidden" name="patid" value="{{ patient.patid }}">
                            <input type="hidden" name="hokenmei" value="{{ patient.hokenmei }}">
                            <input type="hidden" name="hokenexp" value="{{ patient.hokenexp }}">
                            <input type="hidden" name="check" value=0>
                        </form>
                    </td>
                    <td>
                        {{ patient.hokenexp }}
                        
                        <form method="get" action="{% url 'insurance_change' %}">
                            {% csrf_token %}
                            <button class="change-button">変更</button>
                            <input type="hidden" name="patid" value="{{ patient.patid }}">
                            <input type="hidden" name="hokenmei" value="{{ patient.hokenmei }}">
                            <input type="hidden" name="hokenexp" value="{{ patient.hokenexp }}">
                            <input type="hidden" name="check" value=1>
                        </form> 
                        {% endif %}
                    </td>
                    {% if request.session.emprole == 1 %}
                        <td>
                            <form method="get" action="{% url 'patient_medicine_touyo' %}">
                                <button>変更</button>
                                <input type="hidden" name="patid" value="{{ patient.patid }}">
                                <input type="hidden" name="patfname" value="{{ patient.patfname }}">
                                <input type="hidden" name="patlname" value="{{ patient.patlname }}">
                            </form>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'index' %}">
            {% if request.session.emprole == 1 %}
                医師ホームに戻る
            {% elif request.session.emprole == 2 %}
                受付ホームに戻る
            {% endif %}
        </a>
    </div>
</body>
</html>
