<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理者画面</title>
    <link rel="stylesheet" href="../css/index.css">

</head>
<body>

<div class="container">
    <h1>管理者ホーム</h1>
    <a href="{% url 'employee_register' %}" class="button">従業員 登録</a>
    <a href="{% url 'employee_table' %}" class="button">従業員 一覧</a>
    <a href="{% url 'hospital_register' %}" class="button">病院 登録</a>
    <a href="{% url 'hospital_table' %}" class="button">他病院 一覧</a>
    <a href="{% url 'shiire_register' %}" class="button">仕入れ先　登録</a>
    <a href="{% url 'shiire_table' %}" class="button">仕入れ先　一覧</a>
    <a href="{% url 'logout' %}" class="button">ログアウト</a>

</div>



</body>
</html>