<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>従業員一覧</title>
    <link rel="stylesheet" href="../../css/emploee_table.css">
    <link rel="stylesheet" href="../../css/home_link.css">
</head>
<body>
    <div class="container">
        <h1>従業員一覧</h1>
    <div class="search-container">
            <form method="get" action="{% url 'employee_list' %}">
                <label for="employee_search">従業員検索:</label>
                <input type="text" id="employee_search" name="employee" placeholder="従業員IDを入力">
                <button>検索</button>
            </form>
        </div>

            <table border="1">
            <thead>
                <tr>
                    <th>ユーザーID</th>
                    <th>氏名</th>
                    <th>パスワード</th>
                    <th>役職</th>
                </tr>


            </thead>
            <tbody id="employee_list">
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.empid }}</td>
                    <td>{{ employee.empfname }} {{ employee.emplname }}
                        <form method="get" action="{% url 'employee_name_change' %}">
                            <button class="change-button">変更</button>
                            <input type="hidden" name="empid" value="{{ employee.empid }}">
                            <input type="hidden" name="empfname" value="{{ employee.empfname }}">
                            <input type="hidden" name="emplname" value="{{ employee.emplname }}">
                        </form>  </td>
                    <td>{{ employee.emppasswd }}
                        <form method="get" action="{% url 'emp_passChange' %}">
                            <button class="change-button">変更</button>
                            <input type="hidden" name="empid" value="{{ employee.empid }}">
                            <input type="hidden" name="emppasswd" value="{{ employee.emppasswd }}">
                        </form>  
                    </td>
                    <td>
                        {% if employee.emprole == 0 %}
                        管理者
                        {% elif employee.emprole == 1 %}
                        医師
                        {% elif employee.emprole == 2 %}
                        受付
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'index' %}">管理者ホームに戻る</a>
    </div>
</body>
</html>
