<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>他病院一覧</title>
    <link rel="stylesheet" href="../../css/hospital_table.css">
    <link rel="stylesheet" href="../../css/home_link.css">
</head>
<body>
    <div class="container">
        <h1>他病院一覧</h1>
        <div class="search-container">
            <label for="capital-input">資本金で検索:</label>
            <input type="text" id="capital-input" placeholder="資本金を入力">
            <button onclick="searchByCapital()">検索</button>
        </div>
            <table border="1">
            <thead>
                <tr>
                    <th>病院ID</th>
                    <th>病院名</th>
                    <th>住所</th>
                    <th>電話番号</th>
                    <th>資本金</th>
                    <th>救急対応</th>
                </tr>


            </thead>
            <tbody id="hospital-list">
            {% for hospital in hospitals %}
                <!-- ここにデータベースから読み込んだ病院データが表示されます -->
                <tr>
                    
                        <td>{{ hospital.tabyouinid }}</td>
                        <td>{{ hospital.tabyouinmei }}</td>
                        <td>{{ hospital.tabyouinaddres }}</td>
                        <td>
                            {{ hospital.tabyouintel }}
                            <form action="{% url 'phone_change' %}" >
                                {% csrf_token %}
                                <button>変更</button>
                                <input type="hidden" name="tabyouinid" value="{{ hospital.tabyouinid }}">
                                <input type="hidden" name="tabyouintel" value="{{ hospital.tabyouintel }}">
                            </form> </td>
                        <td>{{ hospital.tabyouinshihonkin }}</td>
                        <td>{{ hospital.kyukyu }}</td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'index' %}" class="home-link">管理者ホームに戻る</a>
    </div>
</body>
</html>
